MicroPython/.DS_Store
.DS_Store
.idea/vcs.xml
.idea/misc.xml
.idea/MeteoOS.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/discord.xml
.idea/modules.xml
.idea/copilot/chatSessions/xd.lck
.idea/copilot/chatSessions/blobs/version
.idea/copilot/chatSessions/00000000000.xd
C++/pico-sdk
C++/pimoroni-pico
C++/CMakeFiles
C++/elf2uf2
C++/pioasm
C++/generated
C++/cmake_install.cmake
C++/CMakeCache.txt
C++/CPackConfig.cmake
C++/CPackSourceConfig.cmake
C++/st7789_parallel.pio.h
C++/MeteoOS.hex
C++/MeteoOS.elf.map
C++/MeteoOS.elf
C++/MeteoOS.dis
C++/MeteoOS.bin
C++/Makefile
C++/libpico_graphics.a
C++/libbitmap_fonts.a
C++/pico-boilerplate/cmake-build-debug/.cmake/api/v1/query/cache-v2
C++/pico-boilerplate/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
C++/pico-boilerplate/cmake-build-debug/CMakeCache.txt
C++/pico-boilerplate/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
C++/pico-boilerplate/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
C++/pico-boilerplate/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
C++/pico-boilerplate/cmake-build-debug/CMakeFiles/clion-environment.txt
C++/pico-boilerplate/cmake-build-debug/CMakeFiles/cmake.check_cache

C++/pico-boilerplate/.idea/workspace.xml
C++/pico-boilerplate/.idea/vcs.xml
