MicroPython/.DS_Store
.DS_Store
.idea/vcs.xml
.idea/misc.xml
.idea/MeteoOS.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/workspace.xml
.idea/discord.xml
.idea/modules.xml
.idea/copilot/chatSessions/xd.lck
.idea/copilot/chatSessions/blobs/version
.idea/copilot/chatSessions/00000000000.xd
pico-sdk/
C++/pico-sdk/
C++/pimoroni-pico
C++/CMakeFiles
